<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.example.masker.log.MaskingPatternLayout">
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>

        <!-- If mask patterns come as a list of properties, addMaskPattern is invoked for every config entry -->
        <!-- Captured groups shall be masked -->
        <maskPattern>\"address\"\s*:\s*\"(.*?)\"</maskPattern> <!-- Address JSON pattern -->
        <maskPattern>(\d+\.\d+\.\d+\.\d+)</maskPattern> <!-- Ip address IPv4 pattern -->
        <maskPattern>(\w+@\w+\.\w+)</maskPattern> <!-- Email pattern -->

        <maskPattern>(important)</maskPattern> <!-- A nonsense sample pattern -->
      </layout>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>